body {
  padding: 20%;
}

.container {
  margin: auto;
  padding: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.inputs {
  width: 100%;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.screen {
  height: 100px;
  width: 100%;
  padding: 20px;
  background-color: rgb(230, 255, 255);
  position: relative;

  margin: 10px;
}

button {
  height: 40px;
  font-weight: bold;
  font-size: 20px;

}

#results {
  position: absolute;
  color: blue;
  font-weight: bold;
  font-size: 30px;

  right: 30px;
  bottom: 20px;
  
}
